NEXT_PUBLIC_APP_URL=http://localhost:3000
CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_YJS_WS_URL=ws://localhost:1234
CLERK_WEBHOOK_SECRET=
COLLAB_PORT=1234
CLERK_JWKS_URL=
